/* style choices for the whole site */

/* overall design decisions */
body {
    background-color: #fddee5!important;
    margin-bottom: 96px!important;
    font-family: 'Roboto Mono', monospace;
}

/* design for navbar */
.bg-light {
    background-color: rgb(17, 75, 17)!important; 
}

.navbar-brand { 
    font-weight: 400!important;
    color: white!important;
}

a.highlight {
    color: white!important;
    font-weight: 500;
}

.nav-link {
    font-size: 14pt!important;
    color: rgba(255, 255, 255, 0.664)!important;
    font-family: 'Roboto Condensed', sans-serif;
}

.navbar-text {
    font-size: 14pt!important;
    margin-right: 1rem!important;
    color: white!important;
    font-family: 'Roboto Condensed', sans-serif;
}

.btn-outline-info {
    padding-top: .5rem!important;
    color:  #ffd1dc!important;
    border-color:  #ffd1dc!important;
}

.btn:hover {
    background-color:  #ffd1dc!important;
    color: black!important;
}

/* jumbotron edits */
.jumbotron {  
    padding: 5rem 3rem!important;
    background-attachment: fixed!important;
    background-image: url(clothes.jpg); 
    background-size: cover!important;
    font-family: 'Roboto Condensed', sans-serif;
}

.display-4 {
    margin-bottom: 2rem!important;
    margin-top: 1rem!important;
    font-weight: 400!important;
    font-size: 5rem!important;
}

.lead {
    font-weight: 400!important;
    font-size: 1.65rem!important; 
    margin-bottom: 1rem!important;
}

/* misc fix  */
.my-4 {
    margin-top: 1.25rem!important;
    margin-bottom: 1.25rem!important;
}

.my-2 {
    margin-top: 0.75rem!important;
    margin-bottom: 0.75rem!important;
}

.fas{
    margin-top: 1rem!important;
    margin-bottom: 1rem!important;
    font-size: 50pt!important;
}

/* footer details*/
.footer {
    background-color:  #ffb7c8!important;
    margin-top: 1rem!important;
}

.footerstyle2{
    margin-bottom: 0rem!important;
}
